* {
    -fx-font-family: Tahoma;
    -fx-font-size: 14;
}

#main {
    -fx-background-image: url('../Media/Image/question0.jpg');
    -fx-background-size: 93% 100%;
}

#practice {
    -fx-background-image: url('../Media/Image/question1.jpg');
    -fx-background-size: 93% 100%;
}

#manage {
    -fx-background-image: url('../Media/Image/question2.jpg');
    -fx-background-size: 90% 100%;
}

.Practice {
    -fx-alignment: TOP_LEFT;
}

HBox, VBox {
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

HBox.Choice {
    -fx-alignment: CENTER_LEFT;
}

Text.Subject {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill:red;
    -fx-stroke: green;
    -fx-stroke-width: 2;
}

RadioButton, Label {
    -fx-text-fill: white;
}

.Controls {
    -fx-pref-tile-height: 50;
}