.button:hover {
    -fx-border-color: white;
}

.button {
    -fx-padding: 0;
}

.button:focus {
    -fx-border-color: "white";
}

#app{
    -fx-background: "white";
}

#app1{
    -fx-background-color: #98FB98;
}

#button1 {
    -fx-padding: 0;
}

#anchorInfo {
    -fx-background-image: url('../Media/Image/Information.png');
    -fx-background-size: 102% 100%;
}

#anchor1 {
    -fx-background-image: url('../Media/Image/bgr1.jpg');
    -fx-background-size: 93% 100%;
}

#anchor2 {
    -fx-background-image: url('../Media/Image/bgr2.png');
    -fx-background-size: cover;
}

#anchor3 {
    -fx-background-image: url('../Media/Image/bgr3.png');
    -fx-background-size: cover;
}

#anchor4 {
    -fx-background-image: url('../Media/Image/bg4.png');
    -fx-background-size: cover;
}

#anchor5 {
    -fx-background-image: url('../Media/Image/bgr5.jpg');
    -fx-background-size: cover;
}
#menuBar {
    -fx-background-image: url('../Media/Image/menuBar.jpg');
    -fx-background-size: cover;
}