.button:hover {
    -fx-border-color: white;
}

.button {
    -fx-padding: 0;
}

.button:focus {
    -fx-border-color: "white";
}

#app{
    -fx-background: "white";
}

#app1{
    -fx-background-color: #98FB98;
}

#button1 {
    -fx-padding: 0;
}

#anchor1 {
    -fx-background-image: url('../Media/Image/bgr1.jpg');
    -fx-background-size: cover;
}

#menuBar {
    -fx-background-image: url('../Media/Image/menuBar.jpg');
    -fx-background-size: cover;
}